<div class="audio-record-content">
  <div class="audio-record" *ngIf="!recording">
    <p class="audio-placeholder" style="color: green">
      Click To Start Recording
    </p>
    <img
      width="50"
      height="50"
      src="https://img.icons8.com/ios/50/radio-studio.png"
      (click)="startRecording()"
      alt="radio-studio"
    />
  </div>
  <div class="audio-record" *ngIf="recording">
    <p class="audio-placeholder" style="color: red">Click To Stop Recording</p>
    <img
      width="50"
      height="50"
      src="https://img.icons8.com/ios/50/radio-studio.png"
      (click)="stopRecording()"
      alt="radio-studio"
    />
  </div>

  <audio controls class="audio-file" *ngIf="url">
    <source [src]="sanitize(url)" type="audio/wav" />
  </audio>
</div>
